*.opendb
x64/
build/
Dependencies/UA-AnsiC/Headers
Dependencies/UA-AnsiC/lib
Dependencies/UA-AnsiC/openssl
Dependencies/UA-AnsiC/WindowsFile
Dependencies/UA-AnsiC/Stack/win32
Dependencies/UA-AnsiC/Stack/linux
Dependencies/UA-AnsiC/openssl*/tmp32
Dependencies/UA-AnsiC/openssl*/inc32
Dependencies/UA-AnsiC/openssl*/out32
dist/
*.sdf
*.suo
Dependencies/UA-AnsiC/openssl*/MINFO
Dependencies/UA-AnsiC/openssl*/Makefile
Dependencies/UA-AnsiC/openssl*/Makefile.bak
Dependencies/UA-AnsiC/openssl*/crypto/buildinf.h
Dependencies/UA-AnsiC/openssl*/crypto/opensslconf.h
Dependencies/UA-AnsiC/openssl*/crypto/opensslconf.h.bak
Dependencies/UA-AnsiC/openssl*/ms/nt.mak
Dependencies/UA-AnsiC/openssl*/ms/ntdll.mak
Dependencies/UA-AnsiC/openssl*/ms/*.obj
